body{
    background-color: lightblue;
    font-family: Arial, sans-serif;
     padding: 90px;
    }
    center{
        background-color: white;
        padding: 90px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }